.wrapper {
  display: flex;
  padding: 1rem;

  background: var(--gray-500);
  border: 1px solid var(--gray-400);
  border-radius: 8px;
}

.wrapper > p {
  font-size: 0.875rem;
}

.checkboxWrapper {
  width: 1.5rem;
  height: 1.5rem;

  margin-right: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox {
  width: 1.125rem;
  height: 1.125rem;
  background-color: transparent;
  border-radius: 50%;
  vertical-align: middle;
  border: 3px solid var(--blue);
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: red;
}

.wrapper > button {
  width: 1.5rem;
  height: 1.5rem;
  background: transparent;
  border: none;
  border-radius: 0.25rem;
  margin-left: auto;

  display: flex;
  align-items: center;
  justify-content: center;
}